
body {
    background: black url('../assets/images/flowers_bg.png') repeat-y center;
    color: gold;
    font-family: sans-serif;
    text-align: center;
}
.logo {
    width: 120px;
    margin: 20px auto;
}
.profile-frame {
    border: 2px solid gold;
    padding: 20px;
    margin: auto;
    width: 60%;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 20px;
}
textarea {
    width: 90%;
    height: 100px;
    background: transparent;
    color: gold;
    border: 1px solid gold;
    padding: 10px;
}
.hidden { display: none; }
