body {
  background-color: #111;
  color: #d9903f;
  font-family: 'Comic Sans MS', cursive, sans-serif;
  text-align: center;
  padding-top: 50px;
}

.logo {
  width: 150px;
  margin-bottom: 30px;
}

#login-container {
  background-color: #222;
  padding: 20px;
  border-radius: 10px;
  display: inline-block;
  margin-top: 20px;
}

input, select, button {
  display: block;
  margin: 10px auto;
  padding: 8px;
  border-radius: 5px;
  border: none;
  font-size: 16px;
}

button {
  background-color: #d9903f;
  color: #111;
  cursor: pointer;
}

#login-message {
  margin-top: 10px;
  color: red;
}
